<div id="sidebar" class="column left"></div>

<div class="column right">
	
  <h1>Ihre Daten wurden gesichert.</h1>
  Sie finden die Sicherungsdatei unter <%= @db_out_path %>

</div>

<div class="clr"></div>