/* @group General */




* {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 10px;
}

html {
		min-height:100%;
}

body {
	margin: 0px;
	min-height:100%;
	background: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddd),color-stop(1, #777));
	background-image: -moz-linear-gradient(0% 100% 90deg, #777, #ddd);
}

h1,
h1 a {
	font-size: 16px;
}

h2,
h2 a {
	font-size: 16px;
}

h3,
h3 a {
	font-size: 14px;
}

h1 img {
	vertical-align: middle;
	padding: 5px;
}

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

hr {
	color:black;
	height: 1px;
	background: #555;
	border-style: none;
}

hr.nomargin {
	margin: 1px;
}

.clr {
	clear: both;
}

.m20 {
	margin: 20px 0;
}

.em {
	font-weight: bold;
}

.light {
	color: #bbb;
}

.medium {
	color: #999;
}


.light hr {
	border: none;
	background: #eee;
	height: 1px;
}

.ar {
	text-align: right;
}

.al {
	text-align: left;
}

.ac {
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table tr th {
	padding: 5px 10px;
	background: #aaa;
	color: white;
	background: -moz-linear-gradient(center top, #bbbbbb 0%,#aaaaaa 75%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bbbbbb),color-stop(0.75, #aaaaaa));
	background-image: -moz-linear-gradient(0% 100% 90deg, #aaa, #bbb)
	text-shadow: -1px -1px 0px rgba(0,0,0,0.1);
	border-bottom: 1px solid #888;

}


table tr th a {
	color: #eee;
}

table tr th a:hover {
	color: #fff;
	text-decoration:none;
	text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

table tr td {
	padding: 5px 10px;
	vertical-align: top;
}

table tr td img {
	vertical-align: middle;
}

table td.transfer{
	color: #999;
}

table tr.odd,
table tr.even {
	border-top: 1px solid white;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8),color-stop(0.5, #eee));
	background-image: -moz-linear-gradient(0% 100% 90deg, #eee, #f8f8f8);
}


table tr.hover:hover {
	background: #ffa319;
	color: #fff !important;
}

.negative {
	color: red;
	white-space: nowrap;
}

.positive {
	color: green;
	white-space: nowrap;
}



/* @group Buttons */

input[type=submit],
a.button {
	background: #ffa319;
	display: inline-block;
	margin: 20px 5px 0 0;
	padding: 5px 10px 8px;
	border-top: 1px solid  rgba(255,255,255,0.25);
	border-right: 1px solid  rgba(0,0,0,0.25);
	border-bottom: 1px solid  rgba(0,0,0,0.25);
	border-left: 1px solid  rgba(255,255,255,0.25);
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.15);
}

input[type=submit]:hover,
a.button:hover {
	background-color: #ff9900;
}

input[type=submit].small {
	font-size: 1em;
	padding: 4px 8px;
}

/* @end */



/* @group Flash */

#flash {
	background: #777;
	margin: 10px -2px 0px -2px;
	font-weight: bold;
	color: #fff;
    padding-left: 18%;
	border-radius:2px;
	-moz-border-radius: 2px;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0, 0.2);
}

#flash a {
	color: #fff;
}

.notice, .success {
	background: #777 url(/images/icons/yes_24.png) no-repeat 0 center;
	padding: 10px 10px 10px 45px;
}

.warning, .alert {
	background: #777 url(/images/icons/no_24.png) no-repeat 0 center;
	padding: 10px 10px 10px 45px;
}

/* @end */


/* @group Forms */

input[type=text],
input[type=search],
input[type=password] {
	padding: 9px;
	font-weight: bold;
	width: 300px;
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	border: solid 1px #aaa;
    outline: 0;
    -webkit-box-shadow: 0px 0px 3px rgba(100,100,100, 0.2) inset;
    -moz-box-shadow: 0px 0px 3px rgba(100,100,100, 0.2) inset;
    border-radius: 3px;
    -moz-border-radius: 3px;

}

input:focus, textarea:focus {
    -webkit-box-shadow: rgba(255, 191, 94, 0.8) 0px 0px 8px;
    -moz-box-shadow: rgba(255, 191, 94, 0.8) 0px 0px 8px;
    }

input[type=search] {
	width: 200px;
}

select {
	font-size: 10px;
}
/* @end */


/* @group Notes */


div.note
{
	margin:1em;
	position: absolute;
	right: 30%;
}

div.note h2 {
    font-family:"Reenie Beanie",arial,sans-serif;
	font-size:200%;
	font-weight:bold;
	padding-bottom:10px;
	margin: 0px;
	color: #666;
}

div.note p {
	font-family:"Reenie Beanie",arial,sans-serif;
	font-size:180%;
	color: #666;
}

div.note a {
	text-decoration:none;
	color:#000;
	background:#fff2c5;
	border: 1px solid #f7eabf;
	display:block;
	min-height:15em;
	width:15em;
	padding:1em;
	-moz-box-shadow:3px 3px 7px rgba(33,33,33,0.2);
	-webkit-box-shadow: 3px 3px 7px rgba(33,33,33,.2);
	box-shadow: 3px 3px 7px rgba(33,33,33,.2);
	-webkit-transform:rotate(-8deg);
	-o-transform:rotate(-8deg);
	-moz-transform:rotate(-8deg);
}


/* @end */

/* @group Facebox */

#facebox .b {
  background:url(/images/facebox/b.png);
}

#facebox .tl {
  background:url(/images/facebox/tl.png);
}

#facebox .tr {
  background:url(/images/facebox/tr.png);
}

#facebox .bl {
  background:url(/images/facebox/bl.png);
}

#facebox .br {
  background:url(/images/facebox/br.png);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  width: 400px;
  -webkit-box-shadow: 0px 5px 8px rgba(0,0,0, 0.3);
  border-radius: 7px;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

/* @end */

/* @end */

/* @group Layout */

/* @group Sidebar */

#sidebar {
	padding: 30px 0 20px 0;
}

#sidebar ul {
	list-style-type: none;
	margin: 10px 0 0 -1px;
	padding: 0;
	-webkit-box-shadow: 6px 3px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 6px 3px 5px rgba(0,0,0,0.1);
}

#sidebar ul li:first-child a {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 3px;
}

#sidebar ul li:last-child a {
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 3px;
}

#sidebar ul.single li a {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 3px;
}

#sidebar a,
#sidebar a:visited {
	width: 100%;
	font-weight: bold;
	display:inline-block;
	padding:5px 5px 5px 15px;
	color: white;
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #9f9f9f;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bbbbbb),color-stop(0.75, #aaaaaa));
	background-image: -moz-linear-gradient(0% 100% 90deg, #bbb, #aaa);
	text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}

#sidebar a:hover {
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaaaaa),color-stop(0.75, #bbbbbb));
	background-image: -moz-linear-gradient(0% 100% 90deg, #aaa, #bbb);
	text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

#sidebar a.active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffcc7c),color-stop(0.75, #ffbf5e));
	background-image: -moz-linear-gradient(0% 100% 90deg, #ffbf5e, #ffcc7c);
	border-bottom: 1px solid #e1a953;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}


/* @end */

/* @group Navigation */

#navigation {
	background:url(/images/logo.png) center right no-repeat;
	color: #fff;
	height: 45px;
	border-bottom: 1px solid #e1a953;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffcc7c),color-stop(0.75, #ffbf5e));
    background-image: -moz-linear-gradient(0% 100% 90deg, #ffbf5e, #ffcc7c);
}

#navigation ul {
	border: 0;
	margin: 0;
}

#navigation ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#navigation ul li a {
	color: white;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	display: block;
	margin: 0;
	padding: 20px 12px 5px 12px;
	border: 1px solid transparent;
	border-bottom-width: 0px;
}

#navigation ul li a:hover {
	color:  #fff;
	text-decoration: none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-box-shadow: inset 0px 2px 5px rgba(0,0,0, 0.1);
	-moz-box-shadow: inset 0px 2px 5px rgba(0,0,0, 0.1);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffbf5e),color-stop(0.75, #ffcc7c));
	background-image: -moz-linear-gradient(0% 100% 90deg, #ffcc7c, #ffbf5e);
	text-shadow: 0px -1px 0px rgba(70,70,70,0.2);
}

#navigation ul li.active a {
	color: #ffa319;
	border: 1px solid #e1a953;
	border-bottom-width: 0px;
	padding-bottom: 6px;
	position: relative;
	top: -1px;
	-webkit-border-top-left-radius:3px;
	-moz-border-top-right-radius:3px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff),color-stop(1, #fafafa));
	background-image: -moz-linear-gradient(0% 100% 90deg, #fafafa, #fff);
}

#navigation ul li.active a:hover {
	-webkit-box-shadow: none;
	text-shadow: 0px -1px 0px rgba(0,0,0,0);
}


#footer {
	margin-top: -8px;
	color: #ccc;
	letter-spacing: 10px;
	text-align: center;
}

#footer a {
	color: #aaa;
	letter-spacing: 0px;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}

#footer a:hover {
	color: black;
	text-decoration: underline;
}
/* @end */



div.main {
	width:90%;
	min-width: 1000px;
	margin:3px auto 10px auto;
	border:1px solid #e1a953;
	border-top-color: #ffd89d;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: #fafafa;
}

div.left {
		float:left;
		min-width:120px;
		width:10%;
		padding:10px;
}

div.right {
		float:right;
		width:83%;
		padding:10px;
}

div.action {
	text-align: right;
}

/* @end */

/* @group Error Messages */

.formError {
	font-weight: bold;
	color: #c52c0f;
}

.fieldWithErrors {
	display: inline;
}

.fieldWithErrors label {
	display: none;
}

.fieldWithErrors input {
  border:  2px solid #c52c0f;
}

/* @end */



.rule {
	background: #ddd;
	padding: 5px;
}

.overview_category {
	border-bottom: 1px solid #ddd;
}

.category_items {
	padding:  0 0 0 20px;
}

.category_items table {
	width: 100%;
}

tr.category_sub {
	border-bottom: 1px solid #fff;
	background: #f9f9f9;

}

tr.category_sub td {
	padding: 0;
}
tr.category_sub div {
	background: #eee;
	padding: 10px;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0px 0px 8px rgba(187,187,187, 0.3);
	-moz-box-shadow: inset 0px 0px 8px rgba(187,187,187, 0.3);
}

table.category_sub {
	width: 100%;
	border-collapse: collapse;
}

table.category_sub tr td {
	padding: 3px 0;
}