<div class="column left" style="width:20%;">
  <% @accounts.each do |account| %>
    <%= link_to account.title, account %><br/>
  <% end %>
</div>

<div class="column right" style="width:70%;">
  <table>
    <%= %>
  </table>
</div>

<div class="clr"> </div>