<%= render :partial => 'layouts/sidebar' %>

<div class="column right">
  <h1>Willkommen zu asino - Management privater Finanzen!</h1>
  <%= note 'Willkommen!', 'asino ist noch leer.<br/>Bitte legen Sie zu allererst ein Konto an!' %>
  Sie haben noch keine Konten angelegt.
  <div class="m20">
	<%= link_to 'Neues Konto anlegen', new_account_path, :class => 'button' %>
  </div>
</div>

<div class="clr"> </div>